.updateProfileForm {
    max-width: 550px;
    width: 100%;
    padding: 10px;
    border: black solid 1px;
    border-radius: 25px;
}

.updateProfileFormBlock {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.updateProfileForm__inputAge {
    display: block;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 1 auto;
}

.profile {
    padding: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;

}

.profile__row {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;

}

.profile__avatar {
    border-radius: 125px;
    overflow: hidden;

}

.profile_info {
    width: 350px;
    background-color: white;
    border-radius: 45px;
    padding: 25px;

}

.profile__button {
}

.top6favoritePokemons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 200px;
    background-color: white;
    width: 350px;
    border-radius: 45px;
    padding: 25px;


}

.avatar_button_block {
    padding: 25px;
    background-color: white;
    border-radius: 45px;
}

.favoritePokemonsCotainer {
    max-width: 800px;
    margin: 0 auto;

}

.top6favoritePokemons__image {
    border-radius: 25px;
    padding: 5px;
    width: 50px;
    height: 50px;
    overflow: hidden;

}

.favoritePokemons__row {
    padding: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.favoritePokemons {
    padding: 10px;
}
.pokemonsfeed{
    background-color: white;
    border-radius: 45px;
    padding: 10px;
}

